{{ define "main" }}

<h1 class="gj-title pb-20">Changelog</h1>

<div class="">
  <ul class="list-disc mx-auto">
    {{ $pag := .Paginate .Pages }}
    {{ range $pag.Pages }}


    {{/*    */}}

    {{ $imgUrl := printf "/images/releases/%v/%s" .Params.version .Params.coverImage }}
    {{/*  Get a fallback if no image is present  */}}


    <li class="max-w-3xl w-full pb-8 pl-2">
      <a href="{{ .Permalink }}">

        <h1 class="text-grey-darker text-lg font-bold pb-2 hover:text-green-500">Version {{ .Params.version }} </h1>
        <div class="flex items-center">
          <div class="text-sm pr-4">
            {{ $year := .Date.Format "2006" }}
            {{ $currentYear := now.Format "2006" }}
            {{ if eq $year $currentYear }}
            <p class="text-grey-dark hover:text-green-500">{{ .Date.Format "Jan 2" }}</p>
            {{ else }}
            <p class="text-grey-dark hover:text-green-500">{{ .Date.Format "Jan 2, 2006" }}</p>
            {{ end }}
          </div>
          <svg class="text-gray-600 fill-current h-4 hover:text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </div>

      </a>
    </li>
    {{ end }}
  </ul>

  {{/*  Pagination  */}}
</div>

{{ end }}
