<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if (eq (len .Page.Title) 0) }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
  {{ end }}

  {{ if .Keywords }}
  <meta name="keywords" content='{{ delimit .Keywords " " }}' />
  {{ end }}

  {{/*  // Assets information  */}}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
  {{ $postcssOpts := (dict "config" "postcss.config.js" ) }}
  {{ $styles := resources.Get "styles/main.scss" | toCSS $cssOpts | postCSS $postcssOpts }}
  {{ $stylesAll := slice $styles | resources.Concat "styles/main.css" | minify }}
  <link rel="stylesheet" href="{{ $stylesAll.Permalink }}" media="screen" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicon/apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "images/favicon/site.webmanifest" | relURL }}">

  {{ if not .Site.IsServer }}
  <script async defer data-domain="gitjournal.io" src="https://plausible.gitjournal.io/js/index.js"></script>
  <script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  {{ else }}
  <script>window.plausible = function (ev) { console.log("Plausible Event:", ev); }</script>
  {{ end }}

  <script src="/js/jquery-3.4.1.min.js"></script>
</head>

<body class='{{ cond .Site.IsServer "debug-screens" "" }}'>
  {{ block "body" . }}
  <div id="app" class="flex flex-col min-h-screen font-mono">
    {{ partial "header" . }}

    <div class="self-center">
      {{ block "main" . }}

      {{ end }}
    </div>

    {{ partial "footer" . }}
  </div>



  {{/*  Js information */}}
  {{ $vueDev := resources.Get "js/vue.js" }}
  {{ $vueProd := resources.Get "js/vue.min.js" }}
  {{ $js := resources.Get "js/main.js" }}
  {{ $jsDevAll := slice $vueDev $js | resources.Concat "js/main-dev.js" | minify }}
  {{ $jsProdAll := slice $vueProd $js | resources.Concat "js/main.js" | minify }}
  {{ if .Site.IsServer }}
  <script src="{{ $jsDevAll.Permalink }}"></script>
  {{ else }}
  <script src="{{ $jsProdAll.Permalink }}"></script>
  {{ end }}

  {{ end }}
</body>

</html>
