<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitJournal BaseOf</title>

  {{/*  // Assets information  */}}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
  {{ $postcssOpts := (dict "config" "postcss.config.js" ) }}
  {{ $styles := resources.Get "styles/main.scss" | toCSS $cssOpts | postCSS $postcssOpts }}
  {{ $stylesAll := slice $styles | resources.Concat "styles/main.css" | minify }}
  <link rel="stylesheet" href="{{ $stylesAll.Permalink }}" media="screen" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicon/apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "images/favicon/site.webmanifest" | relURL }}">
</head>

<body class='{{ cond .Site.IsServer "debug-screens" "" }}'>
  <div id="app" class="flex flex-col min-h-screen font-mono">
    {{ partial "header" . }}

    <div class="flex-grow self-center mt-16 mb-16 px-4">

      {{ block "main" . }}

      {{ end }}
    </div>

    {{ partial "footer" . }}
  </div>



  {{/*  Js information */}}
  {{ $vueDev := resources.Get "js/vue.js" }}
  {{ $vueProd := resources.Get "js/vue.min.js" }}
  {{ $js := resources.Get "js/main.js" }}
  {{ $jsDevAll := slice $vueDev $js | resources.Concat "js/main-dev.js" | minify }}
  {{ $jsProdAll := slice $vueProd $js | resources.Concat "js/main.js" | minify }}
  {{ if .Site.IsServer }}
  <script src="{{ $jsDevAll.Permalink }}"></script>
  {{ else }}
  <script src="{{ $jsProdAll.Permalink }}"></script>
  {{ end }}

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</body>

</html>
