{{ define "main" }}

<h1 class="text-5xl text-center font-medium pb-2 leading-tight"> A fair price for you</h1>
<h1 class="text-base text-center font-light pb-20">GitJournal is 100% Open Source and will always be</h1>

<div class="container max-w-2xl mx-auto">
  <!-- <div class="flex flex-row justify-center">
    <div class="flex flex-col">
      <h2 class="font-bold mx-4">Feature</h2>
      <div class="border-2">Intro to CSS</div>
      <div class="border-2">Tags Support</div>
      <div class="border-2">Something Else</div>
    </div>
    <h2 class="font-bold mx-4">Basic</h2>
    <h2 class="font-bold mx-4">Pro</h2>
  </div> -->

  <!-- <div class="flex flex-row justify-center">
    <h2>Intro to CSS</h2>
    <h2>Basic</h2>
    <h2>Pro</h2>
  </div> -->

  <table class="table-auto">
    <thead>
      <tr>
        <th class="w-1/2 px-4 py-2 align-text-top">Feature</th>
        <th class="w-1/4 px-4 py-2 align-text-top">
          <div>Basic</div>
          <div class="font-light pt-2 text-sm text-right">
            <div class="flex justify-between items-center mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 inline" viewBox="32.163 68.509 203.691 228.155">
                <path
                  d="M101.885 207.092c7.865 0 14.241 6.376 14.241 14.241v61.09c0 7.865-6.376 14.24-14.241 14.24-7.864 0-14.24-6.375-14.24-14.24v-61.09c0-7.864 6.376-14.24 14.24-14.24z"
                  fill="#a4c639" />
                <path
                  d="M69.374 133.645c-.047.54-.088 1.086-.088 1.638v92.557c0 9.954 7.879 17.973 17.66 17.973h94.124c9.782 0 17.661-8.02 17.661-17.973v-92.557c0-.552-.02-1.1-.066-1.638H69.374z"
                  fill="#a4c639" />
                <path
                  d="M166.133 207.092c7.865 0 14.241 6.376 14.241 14.241v61.09c0 7.865-6.376 14.24-14.241 14.24-7.864 0-14.24-6.375-14.24-14.24v-61.09c0-7.864 6.376-14.24 14.24-14.24zM46.405 141.882c7.864 0 14.24 6.376 14.24 14.241v61.09c0 7.865-6.376 14.241-14.24 14.241-7.865 0-14.241-6.376-14.241-14.24v-61.09c-.001-7.865 6.375-14.242 14.241-14.242zM221.614 141.882c7.864 0 14.24 6.376 14.24 14.241v61.09c0 7.865-6.376 14.241-14.24 14.241-7.865 0-14.241-6.376-14.241-14.24v-61.09c0-7.865 6.376-14.242 14.241-14.242zM69.79 127.565c.396-28.43 25.21-51.74 57.062-54.812h14.312c31.854 3.073 56.666 26.384 57.062 54.812H69.79z"
                  fill="#a4c639" />
                <path d="M74.743 70.009l15.022 26.02M193.276 70.009l-15.023 26.02" fill="none" stroke="#a4c639" stroke-width="3"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M114.878 102.087c.012 3.974-3.277 7.205-7.347 7.216-4.068.01-7.376-3.202-7.388-7.176v-.04c-.011-3.975 3.278-7.205 7.347-7.216 4.068-.011 7.376 3.2 7.388 7.176v.04zM169.874 102.087c.012 3.974-3.277 7.205-7.347 7.216-4.068.01-7.376-3.202-7.388-7.176v-.04c-.011-3.975 3.278-7.205 7.347-7.216 4.068-.011 7.376 3.2 7.388 7.176v.04z"
                  fill="#fff" /></svg> Free&nbsp;
            </div>
            <div class="flex justify-between items-center my-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 inline" viewBox="0 0 496.255 608.728">
                <path
                  d="M273.81 52.973C313.806.257 369.41 0 369.41 0s8.271 49.562-31.463 97.306c-42.426 50.98-90.649 42.638-90.649 42.638s-9.055-40.094 26.512-86.971zM252.385 174.662c20.576 0 58.764-28.284 108.471-28.284 85.562 0 119.222 60.883 119.222 60.883s-65.833 33.659-65.833 115.331c0 92.133 82.01 123.885 82.01 123.885s-57.328 161.357-134.762 161.357c-35.565 0-63.215-23.967-100.688-23.967-38.188 0-76.084 24.861-100.766 24.861C89.33 608.73 0 455.666 0 332.628c0-121.052 75.612-184.554 146.533-184.554 46.105 0 81.883 26.588 105.852 26.588z"
                  fill="#999" /></svg>
              3.99$
            </div>
          </div>
        </th>
        <th class="w-1/4 px-4 py-2 align-text-top">
          <div>Pro</div>
          <div class="font-light pt-2 text-sm">Pay-what-you-want (with a minimum)</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{ range $i, $f := .Site.Data.features }}
      <tr :class="{{ modBool $i 2 }} ? 'bg-gray-100': 'bg-transparent'">
        <td class="border px-4 py-2">{{ $f.title }}</td>
        <td class="border px-4 py-2 text-green-500">
          {{ if not $f.pro }}
          {{ partial "check" . }}
          {{ end }}
        </td>
        <td class="border px-4 py-2 text-green-500">{{ partial "check" . }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="mt-16">
    <h2>The Pro version can be purchased via -</h2>
    <ol class="mt-4">
      <li class="mt-2"><span class="text-lg font-bold mr-3">One Time Purchase:</span><span>Permanently enables all Pro features
          currently
          in
          GitJournal
          and
          new features added in the following 12 months</span></li>
      <li class="mt-2"><span class="text-lg font-bold mr-3">Monthly Subscription:</span><span>Enables all Pro Features. After 12
          months or
          after paying
          the
          min yearly purchase, you will get all the benefits of the 'One Time Purchase'</span></li>
    </ol>

  </div>
</div>


<!-- Rough plan -

There are 2 versions of GitJournal - Basic and Pro. Both versions are 100% Open Source.

The basic version is free to use on [Android](link) and costs about 3-4$ on [Ios](link).

Differences between Basic and Pro -

Create a kind of table with each feature

GitJournal operates on a pay-what-you-want model (with a minimum). There are currently 2 ways to get the Pro version -

One Time Purchase
Show the same slider? (clearly mark out the minimum)

> Write the text from the App


Monthly Subscription
Show the same slider? (clearly mark out the minimum)

> Write the text from the App -->

<!-- The stripe pricing page is interesting -->

<!-- Add an FAQ writing about how lifetime option deosn't work -->

{{ end }}
