{{ define "main" }}

<h1 class="gj-title"> A fair price for you</h1>
<h1 class="gj-subtitle pb-20">GitJournal is 100% Open Source and will always be</h1>

<div class="container max-w-2xl mx-auto">
  <!-- <div class="flex flex-row justify-center">
    <div class="flex flex-col">
      <h2 class="font-bold mx-4">Feature</h2>
      <div class="border-2">Intro to CSS</div>
      <div class="border-2">Tags Support</div>
      <div class="border-2">Something Else</div>
    </div>
    <h2 class="font-bold mx-4">Basic</h2>
    <h2 class="font-bold mx-4">Pro</h2>
  </div> -->

  <!-- <div class="flex flex-row justify-center">
    <h2>Intro to CSS</h2>
    <h2>Basic</h2>
    <h2>Pro</h2>
  </div> -->

  <table class="table-auto">
    <thead>
      <tr>
        <th class="w-1/2 px-4 py-2 align-text-top">Feature</th>
        <th class="w-1/4 px-4 py-2 align-text-top">
          <div>Basic</div>
          <div class="font-light pt-2 text-sm text-right">Android - Free&nbsp;<br>Ios - 3.99$</div>
        </th>
        <th class="w-1/4 px-4 py-2 align-text-top">
          <div>Pro</div>
          <div class="font-light pt-2 text-sm">Pay-what-you-want (with a minimum)</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{ range $i, $f := .Site.Data.features }}
      <tr :class="{{ modBool $i 2 }} ? 'bg-gray-100': 'bg-transparent'">
        <td class="border px-4 py-2">
          {{ if $f.href }}<a class="hover:text-green-500" href="{{$f.href}}"> {{ end }}
            {{ $f.title }}
            {{ if $f.href }}</a> {{ end }}
        </td>
        <td class="border px-4 py-2 text-green-500">
          {{ if not $f.pro }}
          {{ partial "check" . }}
          {{ end }}
        </td>
        <td class="border px-4 py-2 text-green-500">{{ partial "check" . }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="mt-16">
    <h2>The Pro version can be purchased via -</h2>
    <ol class="mt-4">
      <li class="mt-2"><span class="text-lg font-bold mr-3">One Time Purchase:</span><span>Permanently enables all Pro features
          currently in GitJournal and new features added in the following 12 months.</span>
      </li>
      <li class="mt-2"><span class="text-lg font-bold mr-3">Monthly Installments:</span><span>Enables all Pro Features. After 12
          months or after paying the min yearly purchase, you will get all the benefits of the 'One Time Purchase'.</span>
      </li>
    </ol>
  </div>

  <p class="mt-12 text-sm">
    Please check the relevant App Stores for the prices of the Monthly Installments and One Time Payment, I'm currently running
    many experiments and trying to find a price which works well for all countries.
  </p>

  <div class="mt-4 mb-16 text-sm">
    In general:
    <ul class="mt-2">
      <li>The minimum Monthly Installments are about <span class="font-bold">2 - 3 $ / Month</span></li>
      <li>The minimum One Time Purchase is about <span class="font-bold">24 - 36 $</span></li>
    </ul>
  </div>

  {{ partial "newsletter" (dict "title" "Want to hear about exclusive price changes and discounts?") }}


  {{/*  Q & A  */}}

  <div class="prose pt-8">
    <div class="pb-1">
      <h3>What if I can't afford the Pro Version?</h3>
      <p>I don't want price to be a limiting factor for getting control of your data.</p>
      <p>
        If you cannot afford it or find the price of the Pro Version to be too high or out of range, please <a
          href="mailto:vhanda@gitjournal.io">email me</a>, and I'd be happy to work out a plan that works best for you.
      </p>
    </div>
    <div class="pb-1">
      <h3>Other Payment Mechanisms?</h3>
      <p>
        Currently it is only possible to pay via the App Stores. I'm in the process of setting up alternative payments
        options. It should be ready by the 2nd week of October.
      </p>
    </div>
    <div class="pb-1">
      <h3>GitJournal for Businesses?</h3>
      <p>
        Absolutely. Please <a href="enterprise@gitjournal.io">email me</a> and we can work out bulk pricing, invoicing, support
        and the feature roadmap.
      </p>
    </div>

  </div>

</div>
<!-- Rough plan -

There are 2 versions of GitJournal - Basic and Pro. Both versions are 100% Open Source.

The basic version is free to use on [Android](link) and costs about 3-4$ on [Ios](link).

Differences between Basic and Pro -

Create a kind of table with each feature

GitJournal operates on a pay-what-you-want model (with a minimum). There are currently 2 ways to get the Pro version -

One Time Purchase
Show the same slider? (clearly mark out the minimum)

> Write the text from the App


Monthly Installments
Show the same slider? (clearly mark out the minimum)

> Write the text from the App -->

<!-- The stripe pricing page is interesting -->

<!-- Add an FAQ writing about how lifetime option deosn't work -->

{{ end }}
