{{ define "main" }}

<div class="flex flex-wrap justify-center items-center pb-16">
  <div class="md:w-1/2 md:px-6">
    <h1 class="text-5xl text-center pb-4">Hi</h1>
    <h2 class="text-2xl text-center pb-8">My name is Vishesh.</h2>
  </div>
  <img src="/images/vhanda.jpeg" alt="Vishesh Handa" class="w-2/3 md:w-1/2 rounded-lg">
</div>


<article class="prose xl:prose-xl mx-auto">
  <p>
    I've increasing become frustrated by us not having control of our data and by our ever eroding privacy.
  </p>

  <p>
    This was a bit easier when we just used one device, but nowadays with multiple devices, it is much harder.
  </p>

  <p>
    I couldn't find products which had the usability and design that I wanted, while still giving us control of our data and
    allowing us to easily integrate the tools with our existing workflows.
  </p>

  <p>
    Eventually, I decided to start building products which satisfied my values, while still being a delight to use.
  </p>

  <p>
    I'm trying to build completely open source <span class="font-semibold">sustainable</span> products that people would love to
    use, and also give them back control of their data while letting them easily pick their preferred privacy level.
  </p>

  <p>
    Classically being a Developer, I'm learning as much as I can about product design, customer discovery, marketing, pricing and
    so much more as I try to build this experiment of a company.
  </p>

  <p>
    Connect with me via <a href="https://twitter.com/visheshhanda">Twitter</a>, <a
      href="https://www.linkedin.com/in/visheshhanda/">LinkedIn</a>, <a href="https://github.com/vhanda">GitHub</a> or <a
      href="mailto:vhanda@gitjournal.io">Email</a>
  </p>

</article>



{{ end }}
