{{ define "main" }}

<div class="flex flex-wrap md:flex-no-wrap md:flex-row justify-center items-center py-16 max-w-2xl mx-auto xl:max-w-4xl">
  <div class="md:w-1/2 md:px-6">
    <h1 class="text-5xl text-center pb-4 text-gray-900">Hi</h1>
    <h2 class="text-xl text-center pb-6 text-gray-900 xl:text-2xl">My name is Vishesh.</h2>

    <p class="mt-5 mr-5 text-base leading-7 text-gray-900  text-center lg:mt-10 xl:text-xl xl:leading-9 xl:mt-8">
      I've been contributing to Open Source software for over a deacade.
    </p>
  </div>
  <img src="/images/vhanda.jpeg" alt="Vishesh Handa" class="w-2/3 mt-12 md:w-1/2 rounded-lg">
</div>


<div class="pb-12 max-w-xl mx-auto xl:max-w-3xl">
  <p class="text-center mt-5 mr-5 text-base font-normal leading-7 text-gray-900 lg:mt-4 xl:text-xl xl:leading-9 xl:mt-8">
    I believe that we the people should be in control of our own data, and I'm increasingly frustrated by me sacrificing my
    privacy because the alternatives are just too burdensome.
  </p>
</div>

<div class="flex flex-wrap md:flex-no-wrap md:flex-row justify-center items-center pb-16 max-w-2xl mx-auto xl:max-w-4xl">
  <img class="w-full mt-12 md:w-1/2 " src="/images/about_privacy.png">
  <div class="pl-6 mt-12 md:mt-6">
    <p class="mt-5 md:ml-5 text-base leading-7 text-gray-900 lg:mt-4 xl:text-xl xl:leading-9 xl:mt-8">
      This was a bit easier when we just used one device, but nowadays with multiple devices, it is much harder.
    </p>

    <p class="mt-5 md:ml-5 text-base leading-7 text-gray-900 lg:mt-10 xl:text-xl xl:leading-9 xl:mt-8">
      I couldn't find products which had the usability and design that I wanted, while still giving us control of our data and
      allowing us to easily integrate the tools with our existing workflows.
    </p>
  </div>
</div>

<div class="pb-12 max-w-xl mx-auto xl:max-w-3xl">
  <p class="text-center mt-5 mr-5 text-base font-normal leading-7 text-gray-900 lg:mt-4 xl:text-xl xl:leading-9 xl:mt-8">
    Eventually, I decided to start building products which satisfied my values and are also a delight to use.
  </p>
</div>

<div class="flex flex-wrap md:flex-no-wrap md:flex-row justify-center items-center pb-16 max-w-2xl mx-auto xl:max-w-4xl">
  <div>
    <p class="mt-5 mr-5 text-base leading-7 text-gray-900 lg:mt-4 xl:text-xl xl:leading-9 xl:mt-8">
      I'm trying to build completely open source <span class="font-semibold">sustainable</span> products that spark joy in
      people, and also give them back control of their data while letting them easily pick their preferred privacy level.
    </p>

    <p class="mt-5 mr-5 text-base leading-7 text-gray-900 lg:mt-10 xl:text-xl xl:leading-9 xl:mt-8">
      As a Developer, I'm learning so much about product design, customer discovery, marketing, pricing
      and so much more as I try to build these, <span class="italic">hopefully sustainable</span>, products.
    </p>
  </div>
  <img class="w-full mt-12 md:w-1/2 " src="/images/about_design.png">
</div>

<p class="prose xl:prose-xl mx-auto text-center mt-3">
  Connect with me via <a href="https://twitter.com/visheshhanda">Twitter</a>, <a
    href="https://www.linkedin.com/in/visheshhanda/">LinkedIn</a>, <a href="https://github.com/vhanda">GitHub</a> or <a
    href="mailto:vhanda@gitjournal.io">Email</a>
</p>




{{ end }}
