<ul>
  {{ range .items }}
  <li>
    <h3>
      {{ .title | replaceRE "[#](\\d+)" "<a href=\"https://github.com/GitJournal/GitJournal/issues/$1\">#$1</a>" | safeHTML }}
    </h3>
    <p>
      {{ .text | replaceRE "[#](\\d+)" "<a href=\"https://github.com/GitJournal/GitJournal/issues/$1\">#$1</a>" | safeHTML }}
    </p>

    {{ if .image }}
    {{ $imgUrl := printf "/images/releases/%v/%s" $.version .image }}
    <div class="pb-1">
      <img class="w-4/5 md:w-1/2 mx-auto rounded shadow-xs" src="{{ $imgUrl }}" alt="">
    </div>
    {{ end }}
  </li>
  {{ end }}
</ul>
