{{ $navbar := .Site.Params.navbar }}

{{/*  Get the latest Version  */}}
{{ $latestVersion := "" }}
{{ range .Site.Pages }}
{{ if isSet .Params "version" }}
{{ if lt $latestVersion .Params.version }}
{{ $latestVersion = .Params.version }}

{{ end }}
{{ end }}
{{ end }}

{{ $latestChangeLog := (index (where .Site.Pages "Params.version" $latestVersion) 0) }}

<header class="container mx-auto sm:flex sm:justify-between sm:max-w-3xl xl:max-w-5xl mb-16" x-data="{ menuBarOpen: false }">
  <div class="flex items-center justify-between px-4 py-2" :class="menuBarOpen ? 'shadow-sm' : 'shadow-none'">
    <div class="flex flex-row items-center">
      <a href="/">
        <img class="h-8" src="/images/logos/icon-logo.svg" alt="GitJournal" />
      </a>
      <iframe class="pl-4" src="https://ghbtns.com/github-btn.html?user=GitJournal&repo=GitJournal&type=star&count=true"
        frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
    </div>
    <div class="sm:hidden">
      <button @click="menuBarOpen = !menuBarOpen" type="button"
        class="text-gray-800 hover:text-green-400 focus:text-green-900 focus:outline-none">
        <template x-if="!menuBarOpen">
          <svg class="h-8 w-8 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </template>
        <template x-if="menuBarOpen">
          <svg class="h-8 w-8 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </template>
      </button>
    </div>
  </div>
  <div :class="{ 'block' : menuBarOpen ,'hidden' : !menuBarOpen }"
    class="px-1 py-3 pb-3 shadow-lg font-normal rounded sm:flex sm:shadow-none">
    {{ range $navbar }}
    {{ $permalink := .Permalink }}
    {{ if (eq .title "Changelog")}}
    {{ $permalink = $latestChangeLog.Permalink }}
    {{ end }}

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="{{ $permalink }}">{{ .title }}</a>
    {{ end }}
  </div>
</header>
