{{- $navbar := .Site.Params.navbar }}

<header class="bg-white">
  <div class="flex items-center justify-between px-4 py-4" :class="isOpen ? 'shadow-sm' : 'shadow-none'">
    <div>
      <img class="h-12" src="/images/logos/logo.svg" alt="GitJournal" />
    </div>
    <div>
      <button @click="isOpen = !isOpen" type="button" class="text-gray-900 hover:text-gray-600 focus:text-gray-600 focus:outline-none">
        <svg class="h-6 w-6 fill-current" viewBox="0 0 100 80">
          <rect width="100" height="20"></rect>
          <rect y="30" width="100" height="20"></rect>
          <rect y="60" width="100" height="20"></rect>
        </svg>
      </button>
    </div>
  </div>
  <div :class="isOpen ? 'block' : 'hidden'" class="px-1 py-3 pb-3 shadow-lg font-normal">
    {{- range $navbar }}
    <a class="block mt-1 text-center py-2 hover:bg-gray-200 rounded text-xl" href="{{ .Permalink }}">{{ .title }}</a>
    {{- end }}
  </div>
</header>
