{{ define "main" }}

<div class="text-center text-3xl">GitJournal</div>
<div class="text-center text-base mt-1 text-gray-600">Mobile first Markdown Notes integrated with Git</div>

<div class="flex items-center mt-8">
    <a class="mx-1" href="https://play.google.com/store/apps/details?id=io.gitjournal.gitjournal&pcampaignid=website"><img
            alt="Get it on Google Play" src="/images/android-store-badge.png" style="height: 70px;" /></a>
    <a class="mx-1" href="https://apps.apple.com/app/gitjournal/id1466519634"><img alt="Download on the App Store"
            src="/images/ios-store-badge.svg" style="height: 70px;" /></a>
</div>
<!-- 1. Sync your markdown files with any Git repo - GIF <br>
2. View your notes in different ways <br>
3. Graphs <br>
4. Compatible with your Favorite Desktop Apps <br>
5. Publish your blog <br>
6. Open Source - Community Driven (Vote on your favorite features) <br>
7. Different Editors <br> -->

{{ end }}
