{{ define "body" }}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 font-mono">
  <div class="max-w-md w-full">
    <div>
      <img class="mx-auto h-32 w-auto" src="/images/logos/icon-logo.svg" alt="GitJournal">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Sign in to your account
      </h2>
    </div>
    <div id="form-error" class="hidden pt-4">
      <div class="inline-flex items-center bg-white leading-none text-red-600 rounded-lg p-2 shadow text-teal text-sm">
        <span class="inline-flex bg-red-600 text-white rounded-lg h-6 px-3 justify-center items-center">Error</span>
        <span class="inline-flex px-2" id="form-error-text"></span>
      </div>
    </div>
    <form class="mt-8" onsubmit="login(); return false">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm">
        <div>
          <input aria-label="Email address" id="email" type="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-green focus:border-green-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Email address">
        </div>
        <div class="-mt-px">
          <input aria-label="Password" id="password" type="password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-green focus:border-green-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Password">
        </div>
      </div>

      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" type="checkbox"
            class="form-checkbox h-4 w-4 text-green-600 transition duration-150 ease-in-out">
          <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
            Remember me
          </label>
        </div>

        <div class="text-sm leading-5">
          <a href="#"
            class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150">
            Forgot your password?
          </a>
        </div>
      </div>

      <div class="mt-6">
        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-green-400 group-hover:text-green-500 transition ease-in-out duration-150" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        </button>
      </div>


      <div class="mt-2">
        <button
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out"
          onclick="loginGitLab();" formnovalidate>
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-green-400 group-hover:text-green-500 transition ease-in-out duration-150" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd" />
            </svg>
          </span>
          Sign in with GitLab
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const API_URL = 'http://localhost:9999';
  const login_success_page = '/account';

  function login() {
    var email = document.getElementById("email").value;
    if (email == "") {
      // hack because login gets called when clicking on any other button as well
      return;
    }
    var password = document.getElementById("password").value;
    var remember_me = document.getElementById("remember_me").checked;

    // FIXME: What about the remember_me?

    var auth = new GoTrue({
      APIUrl: API_URL,
      audience: '',
      setCookie: true,
    });

    auth.login(email, password, true)
      .then((response) => {
        console.log('Success! Response: ' + JSON.stringify({ response }));
        window.location.href = login_success_page;
      })
      .catch((error) => showError(error.json.error_description));
  }

  function showError(message) {
    $("#form-error").removeClass('hidden');
    $("#form-error-text").text(message);
  }

  function loginGitLab() {
    var auth = new GoTrue({
      APIUrl: API_URL,
      audience: '',
      setCookie: true,
    });

    var resp = auth.loginExternalUrl("gitlab");
    console.log("RESP", resp);
    window.location.href = resp;
  }
</script>

{{ end }}
